Makefile.in
aclocal.m4
configure
autom4te.cache
autotools
config.*
libtool
Makefile
xbmc-addon-njoy-*.tar.gz
pvr.njoy-*.zip
addons/pvr.njoy/XBMC_njoy.pvr
addons/pvr.njoy/addon.xml
addons/pvr.njoy/changelog.txt
